font-face {
font-family: MPLUSRounded1c-Black;
src: url(../fuentes/MPlusRounded/MPLUSRounded1c-Black.ttf)
}

font-face {
font-family: MPLUSRounded1c-Bold;
src: url(../fuentes/MPlusRounded/MPLUSRounded1c-Bold.ttf)
}

font-face {
font-family: MPLUSRounded1c-ExtraBold;
src: url(../fuentes/MPlusRounded/MPLUSRounded1c-ExtraBold.ttf)
}

font-face {
font-family: MPLUSRounded1c-Light;
src: url(../fuentes/MPlusRounded/MPLUSRounded1c-Light.ttf)
}

font-face {
font-family: MPLUSRounded1c-Medium;
src: url(../fuentes/MPlusRounded/MPLUSRounded1c-Medium.ttf)
}

font-face {
font-family: MPLUSRounded1c-Regular;
src: url(../fuentes/MPlusRounded/MPLUSRounded1c-Regular.ttf)
}

font-face {
font-family: MPLUSRounded1c-Thin;
src: url(../fuentes/MPlusRounded/MPLUSRounded1c-Thin.ttf)
}